/* Navbar.css */

/* Add some padding to the navbar */
.navbar {
    padding: 10px 0;
}

/* Use flexbox to align items in the container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the home button */
.home-button {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Add margin between the home button and the text */
}

/* Style for the animated title */
.animated-title {
    font-size: 24px;
    display: flex;
    align-items: center;
}

/* Add a transition effect to the dropdown toggle */
.dropdown-toggle {
    transition: background-color 0.3s ease-in-out;
}

/* Change the background color on hover */
.dropdown-toggle:hover {
    background-color: #555;
}

/* Style for the search bar */
.search-bar {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Style for the search input */
.search-bar input {
    width: 250px; /* Adjust the width to your preference */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

/* Style for the search button */
.search-bar button {
    margin-left: 5px;
}


